#!/bin/bash -xv

cd /usr/local/bin

cat unseal_keys | python -m json.tool | jq -r '.stdout_lines[]' >output

grep 'Unseal Key 1:' output | sed 's/^.* //' >key
grep 'Unseal Key 2:' output | sed 's/^.* //' >>key
grep 'Unseal Key 3:' output | sed 's/^.* //' >>key
grep 'Initial Root Token:' output | sed 's/^.* //' >>key


key1=$(head -1 key)
key2=$(head -2 key | tail -1)
key3=$(head -3 key | tail -1)
vt=$(head -7 key | tail -1)
echo "$vt" > "/tmp/vault_token"

export VAULT_SKIP_VERIFY=1
export VAULT_TOKEN=$vt
export VAULT_ADDR=https://{{ vaultsrv }}:8200

if grep -v VAULT /etc/profile >/dev/null 2>&1
then
  echo -e "export VAULT_SKIP_VERIFY=1\nexport VAULT_TOKEN=$vt\nexport VAULT_ADDR=https://{{ vaultsrv }}:8200" >> /etc/profile
fi

chmod a+x /usr/local/bin/unsealing
/usr/local/bin/unsealing $key1 $key2 $key3

/usr/local/bin/vault write secret/mypassword value="$(cat /tmp/pkey)"
rm /tmp/pkey
